#  Python cache files
__pycache__/
*.py[cod]

#  virtual environment
venv/

#  IDE settings
.idea/

# Ignore special JSON files
app/users.json
app/locks.json

# Ignore user pool files
app/static/videos/pool/