#waveform{
    padding-left: 100px;
    padding-right: 40px;
}

#drawings{
    display: block;
    position: relative;
    height: 158px;
    padding-left: 100px;
    padding-right: 40px;
    text-align: left;
}

#chart{
    position: relative;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: initial;
    overflow: hidden;
}

#chart svg{
    z-index: 1;
    overflow:hidden;
    float:left;
}

#axis{
    position: absolute;
    overflow:visible;
    z-index: 500;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.line1 {
    fill: none;
    stroke: rgba(0, 100, 180, 0.5);
    stroke-width: 1.5px;
}

.line2 {
    fill: none;
    stroke-width: 1.5px;
}

#lines{
    position: relative;
}

.icon-large{
    font-size: 20px;
}

span {
    user-select: none;
}